body{
    font-family: Josefin Sans;
    background-image: url(../../images/Bitmap_intro.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

